body{
	background-image: url("image/Dtri.png");
	font-size: 30px;
	text-align: left;

}

header{
	border:2px solid;
	margin: 7px 0px 0px 0px;
	position: fixed;
}
aside{
	border:solid grey 2px;
	 margin: 100px 1px 1px 750px ;
	 position: fixed;
}
.post{
	border:solid grey 2px;
	margin: 7px 500px 7px 1px;
}
@media (max-width: 320px) {
    body {
        background-color: blue;
    }
}
/*makes the color change when bigger for iphone*/
@media(min-width : 1280px){
	body{
		background-image: image/Dtri.png;
	}
}
/*makes the screen fit for the ipad*/