body{
	background-color: lime;
	font-size: 30px;
	text-align: left;

}

@media (max-width: 320px) {
    body {
        background-color: blue;
    }
}
/*makes the color change when bigger for iphone*/
@media(min-width : 1024px){
	body{
		background-color: purple;
	}
}
/*makes the screen fit for the ipad*/